@{
    ViewBag.Title = "Conócenos";
}

<img src="~/Content/img/ASPNET.png" class="center-block">

<p>
    <h3>
        Esta página se hizo con el motivo de ser nuestra primera práctica semanal de desarrollo de ASP NET utilizando MVC.
        <br /> Las indicaciones son las siguientes: <br />
        <br /> En su Practica semanal se evaluara lo siguiente:
        <br />1.- MVC sin autenticación,
        <br />2.- Conexion a la bd,
        <br />3.- DbContext
        <br />4.- Migraciones
        <br />5.- Modelos
        <br />6.- Controladores,
        <br />7.- Vistas personalizadas
        <br />8.- Helpers
        <br />9.- Documentación
        <br />10.- Conclusiones Personales.
    </h3>
</p>

<p>
    <img src="~/Content/img/Perfil.jpg" class="img-circle center-block" width="200" height="200">

    <h4 class="text-center">
        <br />
        Esta práctica fue realizada por: <br />David Antonio Flores Águila
        <br /> # de control: 17211669
    </h4>
</p>