@{
    ViewBag.Title = "Contact";
}

<h2>Contáctame para más información:</h2>
<img src="~/Content/img/Perfil.jpg" class="img-circle center-block" width="200" height="200" />

<h3>
    <address>
        <span class="glyphicon glyphicon-user"></span><strong> Alumno:</strong> David Antonio FLores Águila<br />
        <span class="glyphicon glyphicon-indent-left"></span><strong> Número de control:</strong> 17211669<br />
        <span class="glyphicon glyphicon-tower"></span><strong>Carrera:</strong> Informática<br />
        <span class="glyphicon glyphicon-phone-alt"></span><abbr title="Phone"><strong> Teléfono: </strong> +52 (664) 900 10 11</abbr>
    </address>

    <address>
        Instituto Tecnológico de Tijuana<br />
        Calzada Del Tecnológico S/N, Fraccionamiento Tomas Aquino. Tijuana, Baja California. C.P. 22414<br />
        <span class="glyphicon glyphicon-phone-alt"></span><abbr title="Phone"><strong> Teléfono: </strong> +52 (664) 607 8400</abbr>
    </address>

    <address>
        <strong>Correo:</strong>   <a href="mailto:Support@example.com">david.flores17@tectijuana.edu.mx</a><br />
        <strong>Facebook:</strong> <a href="mailto:Marketing@example.com">www.facebook.com</a>
    </address>
</h3>